{% extends "base.html" %}

{% block content %}

<h1>Как вы хотите скачать?</h1>
<div>
    <a class="navbar-brand" href="/game.py" download>Скачать только файл</a>
    <br>
    <a class="navbar-brand" href="/game.zip" download>Скачать игру полность</a>
    <br>
    <a class="navbar-brand" href="/file.exe" download>Скачать программы для запуска</a>
    <br>
    <a class="navbar-brand" href="/all_game.zip" download>Скачать все вместе</a>
</div>
<center><h1>Инструкция по установке</h1></center>
<br>
<h3>Для того что бы, начать играть. Вам нужна программа для запуска самой игры.</h3>
<br>
<br>
<h2>Если нет программы.</h2>
<br>
<h4>Тогда вам нужно нажать на "<a class="navbar-brand" href="/all_game.zip" download>Скачать все вместе</a>",
    затем распаковать архив. Запустить file.exe.
    После установки заходим в командную и пишем "pip install pygame".
    После чего заходим в ранее установленную нами программу и через неё открываем файл Play.py.
    И начинаем играть.</h4>
<br>
<h2>Если же есть игра, но нет программы.</h2>
<br>
<h4>Нажимаем на "<a class="navbar-brand" href="/file.exe" download>Скачать программы для запуска</a>".
    После чего запускаем file.exe.
    После чего у нас установится программа. Теперь заходим в командную строку и пишем "pip install pygame".
    После чего заходим в ранее установленную нами программу и через неё открываем файл Play.py.
    И начинаем играть.</h4>
<br>
<h2>Если же есть программа, но нет игры.</h2>
<br>
<h4>Нажимаем на "<a class="navbar-brand" href="/game.zip" download>Скачать игру полность</a>"
    и распаковываемархив. Затем через программу запускаем файл Play.py
    И начинаем играть.</h4>
<br>
<h2>Если же файлы самой игры повредились.</h2>
<br>
<h4>Нажимаем на "<a class="navbar-brand" href="/game.py" download>Скачать только файл</a>".
    И скачиваем его в папку с нашей игрой, и через программу запускаем его.
    И начинаем играть.</h4>
{% endblock %}