{% extends "base.html" %}

{% block content %}

<center><h1>Об игре</h1></center>
<br>
<h3>Для того что бы начать играть в эту замечательную игру,
    вам нужно <a class="btn btn-primary " href="/register">Зарегистрироваться</a>.</h3>
<br>
<h3>Игра же называется P.H.T.M.L. или же как мы её называем <h2>Pacman HTML</h2>.</h3>
<br>
<h4>
    Не подумайте, что это тот самый Pacman. Это просто совпадние.
</h4>
<br>
<h3>Что же касается HTML? Это главные антаганисты игры.</h3>
<h2>H</h2><h4> - Hacker. Вы его не увидете, этот антоганист будет управлять персонажем вместо вас.</h4><br>
<h2>T</h2><h4> - Tverdolobiy. Граза стен. Пробивает каждую стену,
    затем извинияется и строит её обратно. Приследует вас.</h4><br>
<h2>M</h2><h4> - Merzopakostniy. Гадкий тип. Вместо того что бы ходить за вами.
    Он расстфвляет бомбы, на которые нельзя наступать.</h4><br>
<h2>L</h2><h4> - Lagushka. Чемпион по прыжкам. Что бы не ломать стены.
    Он их просто перепрыгивает. Стримится вас перехватить.</h4><br>
{% endblock %}