{% extends "base.html" %}

{% block content %}

<h1>Карты для скачивания</h1>
{% for item in maps%}
<div class="col-md6 border rounded">
    {{item.name_map}}
    <div>
        <p><img src={{item.file1}} width="50%" height="50%"><img src={{item.file2}} width="50%" height="50%"></p>
    </div>
    <div>
        Дата создания - {{item.created_date}}
        <br>
        Скачать <a class="navbar-brand" href="/downoload_map/{{item.name_map}}" download>{{item.name_map}}</a>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}