{% extends "base.html" %}

{% block content %}
<h1>Рекорды</h1>
<form method="POST" action="{{ url_for('get_one_records') }}">
    <select name="records" size="1">
        <option value="">Все</option>
        <p>
            {% for item in maps %}
            <option value={{item.name_map}}>{{item.name_map}}</option>
            {% endfor %}
        </p>
    </select>
    <button type="submit" class="btn btn-default">Найти</button>
    <div>
        <center>
            <h1>{{count}}</h1>
        </center>
        <table width=80% border="1" align="center">
            <tr>
                <td><h3>Место</h3></td>
                <td><h3>Имя</h3></td>
                <td><h3>Карта</h3></td>
                <td><h3>Очки</h3></td>
            </tr>
            <p>{% for record in records %}
                {% for item in record %}
                <tr>
                    <td><h4>{{loop.index}}</h4></td>
                    <td><h4>{{item.user.name}}</h4></td>
                    <td><h4>{{item.map_name}}</h4></td>
                    <td><h4>{{item.points}}</h4></td>
                </tr>
                {% endfor %}
                {% endfor %}
            </p>
        </table>
    </div>
</form>
{% endblock %}